<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= article.title %></title> <!-- Use article.title -->
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <div>
    <h1><%= article.title %></h1>
    <p>By: <%= article.author %></p>
    <p>Date: <%= article.dateCreate %></p>
    <p><%= article.introduction %></p>
    <% if (article.imageUrl) { %>
      <img src="<%= article.imageUrl %>" alt="<%= article.title %>" />
    <% } %>
    <div><%= article.content %></div>
  </div>

</body>
</html>
