<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <link href="img/favicon.ico" rel="icon">
    <title>Khmer Chronicles | Record Of Life</title>
    <link rel="stylesheet" href="/src/styles/style.css">
    <link rel="stylesheet" href="/src/styles/footer.css" />
    <link rel="stylesheet" href="/src/styles/header.css">
</head>
<body>
    <header class="header">
        <div class="logo">
          <a href="/" class="logo-link">Khmer Chronicles</a>
        </div>
        <nav class="nav">
          <ul class="nav-list">
            <li class="nav-item cur-page"><a href="/" class="nav-link first-nav">Home</a></li>
            <li class="nav-item"><a href="/src/pages/news/index.html" class="nav-link">News</a></li>

            <li class="nav-item explore">
              <a href="#" class="nav-link">Explore</a>
              <div class="dropdown">
                <div class="dropdown-section">
                  <h4>Cuisines</h4>
                  <ul>
                    <li><a href="/src/pages/food-ranking/index.html">Food Ranking</a></li>
                    <li><a href="/src/pages/food-articles/index.html">Food Articles</a></li>
                    <li><a href="/src/pages/cuisines-gallery/index.html">Cuisines Gallery</a></li>

                  </ul>
                </div>
                <div class="dropdown-section">
                  <h4>Travel</h4>
                  <ul>
                    <li><a href="/src/pages/top-pick/index.html">Top-Pick</a></li>
                    <li><a href="/src/pages/travel-articles/index.html">Travel Articles</a></li>
                    <li><a href="/src/pages/travel-gallery/index.html">Travel Gallery</a></li>
                  </ul>
                </div>
                
              </div>
            </li>
            <li class="nav-accordion">
                <button class="accordion-btn" onclick="toggleChange">Explore</button>
                <div class="accordion-panel">
                    <a href="/src/pages/food-ranking/index.html" class="nav-link">Food Ranking</a>
                    <a href="/src/pages/food-articles/index.html" class="nav-link">Food Articles</a>
                    <a href="/top-pick" class="nav-link">Top-Pick</a>
                    <a href="/travel-articles" class="nav-link">Travel Articles</a>
                </div>
            </li>

            <li class="nav-item"><a href="/src/pages/about-us/index.html" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/src/pages/contact/index.html" class="nav-link">Contact</a></li>
          </ul>
        </nav>
        <div class="auth-container">

        </div>
        
        
        <div class="hamburger-menu" onclick="toggleMenu()">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
      </header>
      
  <main>
    <div>
      <h1><%= article.title %></h1>
      <p>By: <%= article.author %></p>
      <p>Date: <%= article.dateCreate %></p>
      <p><%= article.introduction %></p>
      <% if (article.imageUrl) { %>
        <img src="<%= article.imageUrl %>" alt="<%= article.title %>" />
      <% } %>
      <div><%= article.content %></div>
    </div>
  </main>


    
  <footer class="footer">
    <div class="footer-row">
        <div class="footer-col">
          <h4>Info</h4>
          <ul class="links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Explore</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Cuisines</h4>
          <ul class="links">
            <li><a href="/src/pages/food-ranking/index.html">Food Ranking</a></li>
            <li><a href="/src/pages/food-articles/index.html">Food Articles</a></li>
            <li><a href="/src/pages/cuisines-gallery/index.html">Cuisines Gallery</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Travel</h4>
          <ul class="links">
            <li><a href="/src/pages/top-pick/index.html">Top Destination</a></li>
            <li><a href="/src/pages/travel-articles/index.html">Travel Articles</a></li>
            <li><a href="/src/pages/travel-gallery/index.html">Travel Gallery</a></li>
          </ul>
        </div>
        <div class="footer-col">
          <h4>Newsletter</h4>
          <p>
            Subscribe to our newsletter for a weekly dose
            of news, updates, helpful tips, and
            exclusive offers.
          </p>
          <form action="#">
            <input type="text" placeholder="Your email" required>
            <button type="submit">SUBSCRIBE</button>
          </form>
          <div class="icons">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-github"></i>
          </div>
        </div>
      </div>
      <p class="copy-right-text">&copy; 2023 Khmer Chronicles - All Rights Reserved</p>
</footer>
<script src="https://kit.fontawesome.com/731249cdaa.js" crossorigin="anonymous"></script>
<script src="/src/scripts/header.js"></script>
<script src="/src/components/auth.js"></script>
</body>
</html>
